export(OUwie,OUwie.sim,OUwie.fixed)
import(ape, nloptr, corpcor, lattice, grDevices, phytools, phangorn)
importFrom(numDeriv, hessian)
exportClasses('OUwie','OUwie.fixed')
S3method(print, OUwie)
S3method(print, OUwie.fixed)